body {
  margin: 0px 20px 0px 0px;
  background-color: #FEF5E7;
  text-align: center;
  font-family: Arial, Hevetica, sans-serif;
}

.clr{
  clear:both;
}

#main_header{
  background-color:#000000;
  color:#ffffff;
  border:10px #1ABC9C solid;
  padding-top: 0px;
  padding-bottom: 0px;
  width:100%;
  margin-top: 0px;
  font-size: 24px;
}

.ticket_suggest {
  height: 50px;
  width: 350px;
  padding:20px;
}

.my-form label{
  display:block;
  font-size: 12px;
  padding: 5px;
}

.button{
  background-color:#333333;
  color:#ffffff;
  padding: 10px 15px;
  font-size:14px;
}

.form-item1{
  float:left;
  width:50%;
  padding-bottom:20px;
}

.form-item2{
  float:left;
  width:50%;
  padding-bottom:20px;
}

.spacer{
  height:20px;
}
