<html>
    <head>
        <title>Input Test</title>
    </head>
    <body>
      <h1>Hello EventBrite User, we will need a bit more information</h1>
      <form method="POST">
     <div>
    <label for="inventory">Inventory Type</label>
        <select name="invtype" class="custom-select d-block w-100" id="inventory" required>
          <option value="">Choose...</option>    
            {% for invtype in inventoryType %}
	         <option value= "{{ invtype }}" SELECTED>{{ invtype }}</option>"
	           {% endfor %}
         </select>
       </div><br>
       <div>
    <label for="reserved">Reserved Seating</label>
        <select name="restype" class="custom-select d-block w-101" id="reserved" required>
          <option value="">Choose...</option>    
            {% for restype in reservedSeating %}
           <option value= "{{ restype }}" SELECTED>{{ restype }}</option>"
             {% endfor %}
        </select>
      </div><br>
      <div>
    <label for="waitlist">Waitlist</label>
        <select name="waitl" class="custom-select d-block w-102" id="waitlist" required>
          <option value="">Choose...</option>    
            {% for wait in waitlist %}
           <option value= "{{ wait }}" SELECTED>{{ wait }}</option>"
             {% endfor %}
        </select>
      </div><br>
      <div>
    <label for="fees">Fees Included in Price</label>
        <select name="decision" class="custom-select d-block w-103" id="fees" required>
          <option value="">Choose...</option>    
            {% for decision in fees %}
           <option value= "{{ decision }}" SELECTED>{{ decision }}</option>"
             {% endfor %}
        </select>
      </div><br>
            <div>
    <label for="refunds">Refund Policy</label>
        <select name="ref" class="custom-select d-block w-103" id="refunds" required>
          <option value="">Choose...</option>    
            {% for ref in refunds %}
           <option value= "{{ ref }}" SELECTED>{{ ref }}</option>"
             {% endfor %}
        </select>
      </div><br>
<!--       <div>
    <label for="refunds">Refund Policy</label>
        <select class="custom-select d-block w-104" id="refunds" required>
          <option value="">Choose...</option>    
            {% for day in refunds %}
           <option value= "{{ day }}" SELECTED>{{ day }}</option>"
             {% endfor %}
        </select>
      </div> -->
	     
        <input type="submit" value="Submit"><br>
      </form>
    </body>
</html>
